<div class="content-wrapper">
  <main>
    <mat-card>
      <app-evidence-selector
        [evidenceStates]="evidenceStates"
        (evidenceStatesChanged)="evidenceStatesChanged($event)"
      ></app-evidence-selector>
    </mat-card>
    <mat-card>
      <app-ghost-suggestions
        [allGhosts]="allGhosts"
        [evidenceStates]="evidenceStates"
      ></app-ghost-suggestions>
    </mat-card>
    <mat-card>
      <app-ghost-suggestions
        [allGhosts]="allGhosts"
        [evidenceStates]="evidenceStates"
      ></app-ghost-suggestions>
    </mat-card>
    <mat-card>
      <app-ghost-suggestions
        [allGhosts]="allGhosts"
        [evidenceStates]="evidenceStates"
      ></app-ghost-suggestions>
    </mat-card>
    <mat-card>
      <app-ghost-suggestions
        [allGhosts]="allGhosts"
        [evidenceStates]="evidenceStates"
      ></app-ghost-suggestions>
    </mat-card>
  </main>
</div>
