<h2>possible ghosts</h2>
<mat-accordion>
  <mat-expansion-panel *ngFor="let ghost of suggestedGhosts" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ ghost.name }}
      </mat-panel-title>
      <mat-panel-description>
        <div *ngFor="let neededEvidence of ghost.neededEvidences">
          {{ neededEvidence }}
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
</mat-accordion>
