<h2>possible ghosts</h2>
<mat-accordion>
  <mat-expansion-panel *ngFor="let ghost of suggestedGhosts" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ ghost.name }}
      </mat-panel-title>
      <mat-panel-description>
        <div *ngFor="let neededEvidence of ghost.neededEvidences">
          {{ neededEvidence }}
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card-content>
      <p>{{ ghost.desc }}</p>
      <p><b>strength:</b> {{ ghost.strength }}</p>
      <p><b>weakness:</b> {{ ghost.weakness }}</p>
    </mat-card-content>
  </mat-expansion-panel>
</mat-accordion>
