/* ::ng-deep .mat-expansion-panel-header .mat-content {
  align-items: center;
} */
.mat-expansion-panel-header-description {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  flex-wrap: wrap;
  div:not(:first-child) {
    padding-left: 3px;
  }
}

.mat-card-content > *:not(:last-child) {
  margin-bottom: 5px;
}
